#pill-selector{
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

#recipesPanel ul{
	list-style-type: none;
}

.recipeRow{
	border: 1px solid black;
	padding: 1em;
}


#addRecipeBtn{
	float: right;
	margin-bottom: 1em;
	margin-right: 0em;
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

/*.createForm{
	padding: 1em;
}*/

.submitButton{
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

.recipeCreateModalDialog{
	width: 90%;
}

.modal-content {
	padding: 2em;
}

.modalSubmitCancel {
	text-align: center;
}

.saveRecipeButton, .saveRecipeButton:focus, .addRecipeIngredientButton, .addRecipeIngredientButton:focus, .viewRecipeBtn,
.viewRecipeBtn:focus {
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

.recipeActions {
	text-align: right;
}


.recipeViewIngredients, .recipeViewInstructions {
	margin: 1em;
}

/*Make sure line breaks are rendered*/
.angular-with-newlines {
	white-space: pre-wrap;
}



/************** Form Validation **************/
label.required:before{
	content: "*";
	color: red;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}


