#pill-selector{
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

#recipesPanel ul{
	list-style-type: none;
}

.recipeRow, .ingredientRow{
	border: 1px solid black;
	padding: 1em;
}


#createRecipeBtn{
	float: right;
	margin-bottom: 1em;
	margin-right: 0em;
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

/*.createForm{
	padding: 1em;
}*/

.submitButton{
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

.recipeCreateModalDialog{
	width: 90%;
}

.modal-content {
	padding: 2em;
}

.modalSubmitCancel {
	text-align: center;
}

.viewRecipeBtn, .viewRecipeBtn:focus, .deleteRecipeBtn, .deleteRecipeBtn:focus, .editRecipeBtn, .editRecipeBtn:focus {
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
	width: 100%;
}

.saveRecipeButton, .saveRecipeButton:focus, .addRecipeIngredientButton, .addRecipeIngredientButton:focus {
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
}

.recipeActions {
	text-align: center;
}


.recipeViewIngredients, .recipeViewInstructions {
	margin: 1em;
}

/*Make sure line breaks are rendered*/
.angular-with-newlines {
	white-space: pre-wrap;
}


.recipeDeletedAlert {
	position: fixed;
	top: 1em;
	left: 1em;
	color: black;
	background-color: green;
	z-index: 99;
}

.recipeIngredientPills li {
	display: table-cell;
}

option.disabled {
	background-color: grey;
}

#pageAlert, #modalAlert {
	position: fixed;
	width: 20%;
	top: 2%;
	left: 40%;
	color: black;
	z-index: 99;	
}

.alert-success{	
	background-color: rgb(102,205,170);
}

.alert-danger{
	background-color: rgb(255,68,68);
}

.modal.in .modal-dialog {
	/* Fixes a bug in chrome.
       When some element inside the modal has position:fixed, the transforms have a weird effect of miscalculating the element's position
    */
	 -webkit-transform: none;
	 -ms-transform: none; // IE9 only
	 transform: none;
}


/************** Form Validation **************/
label.required:before{
	content: "*";
	color: red;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}


