<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css">
		
		<script type="text/javascript" src="javascript\angular.min.js"></script>
		<script type="text/javascript" src="javascript\ui-bootstrap-tpls-1.2.4.js"></script>
		<script type="text/javascript" src="javascript\AppModule.js"></script>
		<script type="text/javascript" src="javascript\Recipes\RecipesModule.js"></script>
		<script type="text/javascript" src="javascript\Recipes\Recipe.js"></script>
		<script type="text/javascript" src="javascript\Recipes\RecipesInterface.js"></script>
		<script type="text/javascript" src="javascript\Ingredients\IngredientsModule.js"></script>
		<script type="text/javascript" src="javascript\Ingredients\Ingredient.js"></script>
		<script type="text/javascript" src="javascript\Ingredients\IngredientsInterface.js"></script>
		<script type="text/javascript" src="javascript\RecipeIngredients\RecipeIngredient.js"></script>
		<script type="text/javascript" src="javascript\RecipeIngredients\RecipeIngredientsInterface.js"></script>
		<script type="text/javascript" src="javascript\Uoms\Uom.js"></script> <!--Don't know if this will be needed--> 
		<script type="text/javascript" src="javascript\Uoms\UomsInterface.js"></script>		
		<script type="text/javascript" src="javascript\WeeklyMenus\WeeklyMenusModule.js"></script>
		<script type="text/javascript" src="javascript\WeeklyMenus\WeeklyMenusInterface.js"></script>

		<link rel="stylesheet" type="text/css" href="css\app.css">
	</head>
	<body ng-controller="AppModuleController as app">

		<div class="container-fluid">

			<div class="row" ng-show="alertService.displayPageAlert">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<div role="alert" class="alert fade in alert-dismissable {{alertService.pageAlertType}}" id="pageAlert">
						{{alertService.pageAlertMessage}}
						<button type="button" class="close" ng-click="alertService.hidePageAlert()">
					    	&times;
					  	</button>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			

			<div class="row">
				<div class="col-md-1" id="logo">
					<h2>Menu<br>List</h2>
				</div>

				<div class="col-md-10">
					<ul class="nav nav-pills" id="pill-selector">
						<li ng-class="{active:app.isPanelSelected('weeklyMenusPanel')}">
							<a href ng-click="app.selectPanel('weeklyMenusPanel')">Weekly Menus</a>
						</li>
						<li ng-class="{active:app.isPanelSelected('recipesPanel')}">
							<a href ng-click="app.selectPanel('recipesPanel')">Recipes</a>
						</li>
						<li ng-class="{active:app.isPanelSelected('ingredientsPanel')}">
							<a href ng-click="app.selectPanel('ingredientsPanel')">Ingredients</a>
						</li>
					</ul>
				</div>

				<div class="col-md-1" id="user">
					<h2>User<br>Info</h2>
				</div>				
			</div>

			<div class="row">
				<div class="col-md-1" id="sidebar">
					<ul class="list-inline">
						<li>Something</li>
						<li>Something Else</li>
					</ul>
				</div>
			

				<div class="col-md-10" >
					<div class="panel" ng-show="app.isPanelSelected('weeklyMenusPanel')">
						<div class="panel-body">
							<weekly-menus></weekly-menus>
						</div>
					</div>

					<div class="panel" ng-show="app.isPanelSelected('recipesPanel')">
						<div class="panel-body" id="recipesPanel">
							<recipes></recipes>
						</div>
					</div>

					<div class="panel" ng-show="app.isPanelSelected('ingredientsPanel')">
						<div class="panel-body">
							<ingredients></ingredients>	
						</div>							
					</div>	
				</div>

				<div class="col-md-1">
					<ul class="list-inline">
						<li>Something</li>
						<li>Something Else</li>
					</ul>
				</div>
			</div>	
		</div>
	</body>
</html>