<!DOCTYPE html>
<html ng-app="appModule">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css">
		
		<script type="text/javascript" src="javascript\angular.min.js"></script>
		<script type="text/javascript" src="javascript\ui-bootstrap-tpls-1.2.4.js"></script>
		<script type="text/javascript" src="javascript\appModule.js"></script>
		<script type="text/javascript" src="javascript\recipes\recipesModule.js"></script>
		<script type="text/javascript" src="javascript\recipes\recipe.js"></script>
		<script type="text/javascript" src="javascript\ingredients\ingredientsModule.js"></script>
		<script type="text/javascript" src="javascript\ingredients\ingredient.js"></script>
		<script type="text/javascript" src="javascript\recipeIngredients\recipeIngredient.js"></script>

		<link rel="stylesheet" type="text/css" href="css\app.css">
	</head>
	<body ng-controller="appModuleController as app">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1" id="logo">
					<h2>Menu<br>List</h2>
				</div>

				<div class="col-md-10">
					<ul class="nav nav-pills" id="pill-selector">
						<li ng-class="{active:app.isPanelSelected('mealSchedulePanel')}">
							<a href ng-click="app.selectPanel('mealSchedulePanel')">Meal Schedule</a>
						</li>
						<li ng-class="{active:app.isPanelSelected('recipesPanel')}">
							<a href ng-click="app.selectPanel('recipesPanel')">Recipes</a>
						</li>
						<li ng-class="{active:app.isPanelSelected('ingredientsPanel')}">
							<a href ng-click="app.selectPanel('ingredientsPanel')">Ingredients</a>
						</li>
					</ul>
				</div>

				<div class="col-md-1" id="user">
					<h2>User<br>Info</h2>
				</div>				
			</div>

			<div class="row">
				<div class="col-md-1" id="sidebar">
					<ul class="list-inline">
						<li>Something</li>
						<li>Something Else</li>
					</ul>
				</div>
			

				<div class="col-md-10" >
					<div class="panel" ng-show="app.isPanelSelected('mealSchedulePanel')">
						<div class="panel-body">
							Meal Schedule
						</div>
					</div>

					<div class="panel" ng-show="app.isPanelSelected('recipesPanel')">
						<div class="panel-body" id="recipesPanel">
							<recipes></recipes>
						</div>
					</div>

					<div class="panel" ng-show="app.isPanelSelected('ingredientsPanel')">
						<div class="panel-body">
							<ingredients></ingredients>	
						</div>							
					</div>	
				</div>

				<div class="col-md-1">
					<ul class="list-inline">
						<li>Something</li>
						<li>Something Else</li>
					</ul>
				</div>
			</div>
		


<!-- <div class="col-md-4">
					<ul>
						<li>Something</li>
						<li>Something Else</li>
					</ul>
				</div>














		
			<div class="panel-selector">
				<ul class="nav nav-pills">
					<li ng-class="{active:app.isPanelSelected('mealSchedulePanel')}">
						<a href ng-click="app.selectPanel('mealSchedulePanel')">Meal Schedule</a>
					</li>
					<li ng-class="{active:app.isPanelSelected('recipesPanel')}">
						<a href ng-click="app.selectPanel('recipesPanel')">Recipes</a>
					</li>
					<li ng-class="{active:app.isPanelSelected('ingredientsPanel')}">
						<a href ng-click="app.selectPanel('ingredientsPanel')">Ingredients</a>
					</li>
				</ul>
			</div>

			<div class="panels">
				<div class="panel" ng-show="app.isPanelSelected('mealSchedulePanel')">
					<div class="panel-body">
						Meal Schedule
					</div>
				</div>

				<div class="panel" ng-show="app.isPanelSelected('recipesPanel')">
					<div class="panel-body">
						<recipes></recipes>
					</div>
				</div>

				<div class="panel" ng-show="app.isPanelSelected('ingredientsPanel')">
					<div class="panel-body">
						Ingredients	
					</div>							
				</div>	
			</div> -->		
		</div>



	</body>
</html>