<ul class="nav nav-pills recipeIngredientPills">
	<li ng-class="{active:isPanelSelected($index)}" ng-repeat="recipeIngredient in recipeIngredients">
		<a href ng-click="selectPanel($index)">{{recipeIngredient.ingredient.name}}</a>
	</li>	
</ul>
<div class="recipeIngredients edit-form form large-9 medium-8 columns content ng-scope">	
	<form method="post" accept-charset="utf-8" ng-submit="updateRecipeIngredient()" role="form" name="recipeIngredientCreateForm" class="ng-pristine ng-valid ng-valid-min ng-valid-required">		
		<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>    
		<fieldset>
			<legend>Edit Recipe Ingredients</legend>
			<div class="form-group number">
				<label class="control-label required" for="quantity">Quantity</label>
				<input required type="number" name="quantity" min="0" ng-model="currentRecipeIngredient.quantity" id="quantity" class="form-control">
			</div>

			<div class="form-group select">
				<label class="control-label" for="uom-id">Uom</label>
				<select ng-options="uom.name for uom in uomsList" name="uom_id" ng-model="currentRecipeIngredient.uom" class="form-control">
					<option disabled class="disabled" value="">{{currentRecipeIngredient.uom.name}}</option>
				</select>
			</div>

			<div class="form-group textarea">
				<label class="control-label" for="instructions">Instructions</label>
				<textarea name="instructions" ng-model="currentRecipeIngredient.instructions" id="instructions" class="form-control" rows="5"></textarea>
			</div>    
		</fieldset>
		<div class="recipeIngredientActions">
			<button type="submit" class="btn updateRecipeIngredientButton">
				Update Recipe Ingredient
			</button>
			<button type="button" class="btn deleteRecipeIngredientButton" ng-click="deleteRecipeIngredient(currentRecipeIngredient.id)">
				Delete Recipe Ingredient
			</button>
		</div>
	</form>
</div>