<div class="recipes form large-9 medium-8 columns content createForm ng-scope">
	<form method="post" accept-charset="utf-8" role="form" name="recipeCreateForm" class="ng-pristine ng-valid ng-valid-required ng-valid-maxlength ng-valid-min"  ng-submit="createRecipe()">
		<div style="display:none;">
			<input type="hidden" name="_method" value="POST">
		</div>    
		<fieldset>
			<legend>Add Recipe</legend>
			<div class="form-group">Fields marked with <span style="color:red">*</span> indicate a mandatory field</div>
			<div class="form-group text required">
				<label class="control-label required" for="name">Name</label>
				<input type="text" name="name" ng-model="newRecipe.name" required="required" maxlength="75" id="name" class="form-control">
			</div>
			<div class="form-group textarea">
				<label class="control-label" for="description">Description</label>
				<textarea name="description" ng-model="newRecipe.description" id="description" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group textarea">
				<label class="control-label" for="instructions">Instructions</label>
				<textarea name="instructions" ng-model="newRecipe.instructions" id="instructions" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label required" for="num-served">Num Served</label>
				<input type="number" name="num_served" ng-model="newRecipe.num_served" min="1" required="required" id="num-served" class="form-control">
			</div>
			<div class="form-group text">
				<label class="control-label" for="image">Image</label>
				<input type="text" name="image" ng-model="newRecipe.image" maxlength="100" id="image" class="form-control">
			</div>
			<div class="checkbox">
				<input type="hidden" name="private" value="0">
				<label for="private">
					<input type="checkbox" name="private" value="1" ng-model="newRecipe.private" id="private" class="">Private
				</label>
			</div>    
		</fieldset>  
		<button type="submit" class="btn saveRecipeButton">
			Create Recipe
		</button>
	</form>
</div>