<div class="recipes-view-wrapper">
	<div class="row">
		<div class="col-md-4">
			<img ng-src="{{imageLink}}">
		</div>
		<div class="col-md-8">
			<legend>{{recipe.name}}</legend>
			Description: {{recipe.description}}<br>
			Serves: {{recipe.num_served}}<br>
			Private: {{recipe.private}}<br>
		</div>
	</div>
	<div class="row recipeViewIngredients">
		<div class="col-md-12">
			<legend>Ingredients</legend>
			<ul>
				<li ng-repeat="recipeIngredient in recipe.recipe_ingredients">
					{{recipeIngredient.quantity}} {{recipeIngredient.uom.name}} {{recipeIngredient.ingredient.name}} <span ng-show="recipeIngredient.instructions">({{recipeIngredient.instructions}})</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="row recipeViewInstructions">
		<div class="col-md-12">
			<legend>Instructions</legend>
			<div class="angular-with-newlines">{{recipe.instructions}}</div>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
	        <a href="#/recipes">
	        	<button class="btn btn-warning" type="button">Back to Recipes</button>
	        </a>
        </div>
	</div>
</div>