<legend>Edit Recipe Ingredients</legend>
<ul class="nav nav-pills recipeIngredientPills">
	<li ng-class="{active:isPanelSelected($index)}" ng-repeat="recipeIngredient in recipeIngredients">
		<a href ng-click="selectPanel($index)">{{recipeIngredient.ingredient.name}}</a>
	</li>	
</ul>

<div class="recipeIngredients form large-9 medium-8 columns content ng-scope" ng-repeat="recipeIngredient in recipeIngredients" ng-show="isCurrentRecipeIngredient($index)">
	<form method="post" accept-charset="utf-8" ng-submit="updateRecipeIngredient($index)" role="form" name="recipeIngredientCreateForm" class="ng-pristine ng-valid ng-valid-min ng-valid-required">		
		<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>    
		<fieldset>

			<div class="form-group number">
				<label class="control-label required" for="quantity">Quantity</label>
				<input required type="number" name="quantity" min="0" ng-model="recipeIngredient.quantity" id="quantity" class="form-control">
			</div>

			<div class="form-group select">
				<label class="control-label" for="uom-id">Uom</label>
				<select ng-options="uom.name for uom in uomsList" name="uom_id" ng-model="recipeIngredients[$index].uom" class="form-control">
					<option disabled class="disabled" value="">{{recipeIngredients[$index].uom.name}}</option>
				</select>
			</div>

			<div class="form-group textarea">
				<label class="control-label" for="instructions">Instructions</label>
				<textarea name="instructions" ng-model="recipeIngredient.instructions" id="instructions" class="form-control" rows="5"></textarea>
			</div>    
		</fieldset>
		<button type="submit" class="btn addRecipeIngredientButton">
			Update Recipe Ingredient
		</button>
		<button type="button" class="btn deleteRecipeIngredientButton" ng-click="deleteRecipeIngredient(recipeIngredient.id)">
			Delete Recipe Ingredient
		</button>
	</form>
</div>