<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-2">
		<div ng-controller="RecipesModalCreateCtrl">
			<button type="button" class="btn btn-default" ng-click="open()" id="addRecipeBtn">Add Recipe</button>
		</div>
	</div>
</div>

<div class="row recipeRow" ng-repeat="recipe in recipesCtrl.recipes.slice(((recipesCtrl.currentPage-1) * recipesCtrl.itemsPerPage), ((recipesCtrl.currentPage) * recipesCtrl.itemsPerPage))">
	<div class="col-md-4 recipeImage">
		<img ng-src="{{recipesCtrl.imageRequestUrl}}{{recipe.image}}">
	</div>
	<div class="col-md-8">
		<div class="row recipeInfo">
			Name: {{recipe.name}}<br>
			Description: {{recipe.description}}<br>
			Instructions: {{recipe.instructions}}<br>
			Serves: {{recipe.num_served}}<br>
			Private: {{recipe.private}}<br>
		</div>
		<div class="row recipeActions">
			<div ng-controller="RecipesModalViewCtrl">
				<button type="button" class="btn btn-default" id="recipeViewBtn" ng-click="open(recipe.id)">View Recipe</button>	
			</div>		
		</div>
	</div>
</div>
<uib-pagination total-items="recipesCtrl.totalItems" ng-model="recipesCtrl.currentPage" class="pagination-md" items-per-page="recipesCtrl.itemsPerPage"></uib-pagination>






