<div class="row"> 
	<div class="col-md-6">
		{{RecipesModalCreateInstanceCtrl.recipeJustAdded()}}
		<div role="alert" class="alert fade in alert-success" ng-show="recipeJustAdded()">The recipe has been saved.</div>
		<ng-include src="'http://localhost/MenuList/recipes/add'"></ng-include>
	</div> 
	<div class="col-md-6"> 
		<div class="row"> 
			<div class="col-md-12"> 
				RecipeIngredients List goes here 
			</div> 
		</div> 
		<div class="row"> 
			<div class="col-md-12"> 
				<ng-include src="'http://localhost/MenuList/recipe-ingredients/add'"></ng-include>
				<button class="btn btn-primary" type="submit" ng-click="submit()">Add Recipe Ingredient</button>
			</div> 
		</div> 
	</div> 	
</div>
<div class="row">
	<!-- <div class="col-md-4"></div>
	<div class="col-md-4"> -->
		<div class="modal-footer modalSubmitCancel">
	        <button class="btn btn-primary" type="submit" ng-click="submit()">Save Recipe</button>
	        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    	</div> 
	<!-- </div>
	<div class="col-md-4"></div> -->
</div>