<div class="row" ng-show="alertService.displayModalAlert">
	<div class="col-md-5"></div>
	<div class="col-md-2">
		<div role="alert" class="alert fade in alert-dismissable {{alertService.modalAlertType}}" id="modalAlert">
			{{alertService.modalAlertMessage}}
			<button type="button" class="close" ng-click="alertService.hideModalAlert()">
		    	&times;
		  	</button>
		</div>
	</div>
	<div class="col-md-5"></div>
</div>
<div class="row"> 
	<div class="col-md-6">		
		<ng-include src="'html/recipes/recipesEditForm.html'"></ng-include>
	</div> 
	<div class="col-md-6"> 
		<div class="row"> 
			<div class="col-md-12"> 
				<ng-include src="'html/recipeIngredients/recipeIngredientsEditForm.html'"></ng-include>
			</div> 
		</div> 
		<div class="row"> 
			<div class="col-md-12"> 				
				<legend>Add Recipe Ingredient</legend>
				<ng-include src="'html/recipeIngredients/recipeIngredientsCreateForm.html'"></ng-include>
			</div> 
		</div>
	</div> 	
</div>
<div class="row">
	<div class="modal-footer modalSubmitCancel">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>