<div class="row"> 
	<div class="col-md-6">
		<div role="alert" class="alert fade in alert-success" ng-show="recipeJustAdded()">The recipe has been saved.</div>
		<div role="alert" class="alert fade in alert-danger" ng-show="showNoIngredientsAlert()">The recipe must have at least 1 ingredient.</div>
		<ng-include src="'html/recipes/recipesCreateForm.html'"></ng-include>
	</div> 
	<div class="col-md-6"> 
		<div class="row"> 
			<div class="col-md-12"> 
				<legend>Recipe Ingredients</legend>				
				<ul class="recipeModalCreateIngredientsList">
					<li class="recipeModalCreateIngredientsListItem" ng-repeat="newRecipeIngredient in newRecipeIngredients">
						{{newRecipeIngredient.quantity}} {{newRecipeIngredient.uom_id.name}} {{newRecipeIngredient.ingredient_id.name}} <span ng-show="newRecipeIngredient.instructions">({{newRecipeIngredient.instructions}})</span>
					</li>
					<li ng-show="isNewRecipeIngredientsEmpty()"><i>No Ingredients have been added to this recipe yet</i></li>
				</ul>
			</div> 
		</div> 
		<div class="row"> 
			<div class="col-md-12"> 
			<legend>Add Recipe Ingredient</legend>
				<ng-include src="'html/recipeIngredients/recipeIngredientsCreateForm.html'"></ng-include>
			</div> 
		</div> 
	</div> 	
</div>
<div class="row">
	<div class="modal-footer modalSubmitCancel">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>