<div class="col-md-2"></div>
	<div class="ingredients form large-9 medium-8 columns content col-md-8">
	    <form method="post" accept-charset="utf-8" role="form" name="ingredientCreateForm" ng-submit="createIngredient()">
	    	<div style="display:none;"><input type="hidden" name="_method" value="POST"></div>    
	    	<fieldset>
		        <legend>Add Ingredient</legend>
		        <div class="form-group">Fields marked with <span style="color:red">*</span> indicate a mandatory field</div>
		        <div class="form-group text required">
		        	<label class="control-label required" for="name">Name</label>
		        	<input type="text" name="name" required="required" maxlength="75" id="name" class="form-control" ng-model="newIngredient.name">
		        </div>
		        <div class="form-group select">
		        	<label for="category-id" class='required'>Category</label>
		        	<select required ng-options="category.name for category in categoriesList" name="category_id" id="category-id" class="form-control" ng-model="newIngredient.category_id">
			        	<option value="">-- Select a Category --</option><!-- Adding this default option ensures validation kicks in if the default is not changed -->
		        	</select>
		        </div>
		        <div class="form-group textarea">
		        	<label class="control-label" for="information">Information</label>
		        	<textarea name="information" id="information" class="form-control" rows="5" ng-model="newIngredient.information"></textarea>
		        </div>
		        <div class="form-group text">
		        	<label class="control-label" for="image">Image</label>
		        	<input type="text" name="image" maxlength="100" id="image" class="form-control" ng-model="newIngredient.image">
		        </div>    
	    	</fieldset>
	    	<button type="submit" class="btn">Submit</button>    
		</form>
	</div>
<div class="col-md-2"></div>